* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

.portfolio {
  background: #F6F6F6;
}

.portfolio__container {
  max-width: 970px;
  margin: 0 auto;
  ;
}

.portfolio__title {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #070707;
  margin-bottom: 50px;
  margin-top: 100px;
}

.portfolio__img {
  width: 100%;
}

.portfolio__text {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  margin-top: 40px;
  margin-bottom: 70px;
}